.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 48px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-main {
  padding: 20px;
}

.App-footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  height: 50px;
  padding: 0 20px;
}
