.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 48px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-footer {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 90%;
}
